# Python
venv/
backend/venv/
frontend/venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Node / Angular
node_modules/
dist/
frontend-angular/.angular/
frontend-angular/.env

# Environnements et secrets
.env
*.env
.env.*

# Système
.DS_Store
Thumbs.db
