# ================= API =================
fastapi>=0.115
uvicorn[standard]

# ================= SECURITY =================
python-jose
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-dotenv
email-validator
python-multipart

# ================= DATABASE =================
motor
pymongo

# ================= RAG / NLP =================
torch>=2.4,<2.6
transformers>=4.40
sentence-transformers>=2.6
faiss-cpu
numpy<2.0

# ================= WEB SEARCH =================
requests
ddgs
beautifulsoup4
lxml
fake-useragent

# ================= DOCUMENT PARSING =================
PyPDF2
python-docx

# ================= AUDIO (CPU) =================
faster-whisper
soundfile
kokoro
prometheus-fastapi-instrumentator

# ================= UTILS =================
scipy
tqdm
loguru
