<div class="chat-panel">
  <h3 *ngIf="activeConversation">💬 {{ activeConversation.name }}</h3>

  <div class="messages">
    <div *ngFor="let msg of messages" [ngClass]="msg.role">
      <div class="bubble">
        <div class="text">{{ msg.content }}</div>

        <div *ngIf="msg.files?.length" class="file-list">
          <div *ngFor="let file of msg.files" class="file-item">
            <a [href]="file.url" target="_blank" download>
              <img [src]="getFileIcon(file.content_type)" class="file-icon" />
              <span>{{ file.filename }}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

<app-input-bar
  class="input-bar"
  [convId]="activeConversation?._id"
  (send)="onSendMessage($event)">
</app-input-bar>
</div>
