<div class="chat-panel">
  <h3 *ngIf="activeConversation">💬 {{ activeConversation.title }}</h3>

  <div class="messages">
    <div *ngFor="let msg of messages" [ngClass]="msg.role">
      <div class="bubble">
        <!-- 💬 Texte -->
         <div
          class="text markdown"
          *ngIf="msg.content"
          [innerHTML]="renderMarkdown(msg.content)">
        </div>

        <!-- 📎 Liste des fichiers liés -->
        <div *ngIf="msg.files?.length" class="file-list">
          <div *ngFor="let file of msg.files" class="file-item">
            <a [href]="file.file_url" target="_blank" download class="file-link">
              <img [src]="getFileIcon(file.file_name)" class="file-icon" />
              <span>{{ file.file_name }}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-input-bar
    class="input-bar"
    [convId]="activeConversation?.id"
    (send)="onSendMessage($event)">
  </app-input-bar>
</div>
